<include file="Public/header"/>
<!-- page special css plugin here -->
<style>
	#table  td {
	 	 vertical-align:middle;
	}
</style>
<include file="Public/nav"/>
            <section class="main-content">
                <div class="content-wrap">
                	<div class="row mg-b">
                        <div class="col-xs-12">
                            <section class="panel">
                                <header class="panel-heading">
                                	{$titleL2}
                                </header>
                                <div class="panel-body no-padding">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-striped responsive" data-sortable="" data-sortable-initialized="true">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>时间</th>
                                                    <th>评论</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<foreach name="comment" item="v">
	                                                <tr>
                                                        <td>{$v.id}</td>
	                                                    <td>{$v.comment_time|date="Y-m-d H:i", ###}</td>
	                                                    <td>{$v.content|htmlspecialchars_decode=###}</td>
	                                                    <td>
                                             			  	<a class="del" href="{:U('Movie/delComment', ['id' => $v['id']])}" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><span class="fa fa-trash-o text-success"></span></a>
	                                                    </td>
	                                                </tr>
                                                </foreach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
<!-- page special js plugin here -->
<include file="Public/footer"/>  
</body>

</html>