<include file="Public/header"/>
<!-- page special css plugin here -->
<link rel="stylesheet" href="__PUBLIC__/Plugin/uploadify/uploadify.css">
<style type="text/css">
	.uploadify-button {
	    background-color: transparent;
	    border: none;
	    padding: 0;
	}
	.uploadify:hover .uploadify-button {
	    background-color: transparent;
	}
</style>
<include file="Public/nav"/>
        <section class="main-content">
            <div class="content-wrap">
                <div class="row">
                	<div class="col-lg-12">
                 	<section class="panel">
                      <header class="panel-heading">{$titleL2}</header>
                      <div class="panel-body">
                          <form class="form-horizontal bordered-group" role="form" action="{:U('AdManage/editHandle')}" method="post">
                              
                              <div class="form-group">
                              	  
                                  <label for="inputEmail3" class="col-sm-2 control-label"><span class="red">* </span>缩略图</label>
                                  <div class="col-sm-2">
                                  	<img id="no-image" <if condition="$data['thumb']">src="__ROOT__/{$data.thumb}"<else/> src="__PUBLIC__/Default/images/no_image.jpg" </if> >
                                  </div>
                                  <div class="col-sm-8" style="margin-top:15px;">
                                      <input type="file" name="face" id="upload" />
                                     <p class="help-block no-margin">图片格式：jpg、jpeg、gif、png; 参考尺寸（px）：<span style="color:red; font-size:14px;">{$size[0]} * {$size[1]}</span></p>
                                  </div>
                              </div>
                              
                               <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">链接地址</label>
                                  <div class="col-sm-8">
                                      <input type="text" name="url" placeholder="http://" class="form-control" id="inputEmail3" value="{$data.url}">
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label class="col-sm-2 control-label">描述</label>
                                  <div class="col-sm-8">
                                      <textarea name="desc" class="form-control" rows="2">{$data.desc}</textarea>
                                  </div>
                              </div> 
                             
                              <div class="form-group">
                                  <label for="inputEmail4" class="col-sm-2 control-label">排序</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" name="sort" id="inputEmail4" value="{$data.sort}" placeholder="排序">
                                  </div>
                              </div>
                              <input type="hidden" name="thumb" value="{$data.thumb}">
                              <input type="hidden" name="number" value="{$_GET['number']}">
                              <input type="hidden" name="id" value="{$data.id}">
                              
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-6">
                                      <button type="submit" class="btn btn-success">保存</button>
                                      <button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </section>
                 </div>
                </div>
            </div>
        </section>
    </section>
</div>
<include file="Public/footer"/> 
<!-- page special js plugin here -->
<script type="text/javascript" src="__PUBLIC__/Plugin/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/init_uploadify.js"></script>
<script>
  var sid = "{:session_id()}";
  var url = "{:U('Base/uploadImage')}";
  var number = "{$_GET['number']}" ? "{$_GET['number']}" : 1;
  uploadImage(url, number, sid, "ad/");

  $('form').submit(function () {
    if ($('input[name=thumb]').val() == '') {
      layer.msg('请先上传缩略图');
      return false;
    }
  })
</script>

</body>
</html>