<include file="Public/header"/>
<!-- page special css plugin here -->
<link rel="stylesheet" href="__PUBLIC__/Plugin/uploadify/uploadify.css">
<style type="text/css">
	.uploadify-button {
	    background-color: transparent;
	    border: none;
	    padding: 0;
	}
	.uploadify:hover .uploadify-button {
	    background-color: transparent;
	}
</style>
<include file="Public/nav"/>
        <section class="main-content">
            <div class="content-wrap">
                <div class="row">
                	<div class="col-lg-12">
                 	<section class="panel">
                      <header class="panel-heading">{$titleL2}</header>
                      <div class="panel-body">
                          <form class="form-horizontal bordered-group" role="form" action="{:U('Kanwu/addHandle')}" method="post">
	                              <div class="form-group">
	                                 <div class="form-group">
	                                  <label for="inputEmail4" class="col-sm-2 control-label"><span class="red">* </span>上传刊物</label>
	                                  <div class="col-sm-8">
	                                      <input type="file" name="dedio" id="upload-movie" />
	                                      <p class="help-block no-margin">格式：pdf</p>
	                                  </div>
                            	  </div>
                              </div>
                              <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                                  <div class="col-sm-8">
                                      <input type="text" name="title" placeholder="刊物标题" class="form-control" id="inputEmail3">
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">封面图片</label>
                                  <div class="col-sm-2">
                                  	<img id="no-image" src="__PUBLIC__/Default/images/no_image.jpg" >
                                  </div>
                                  <div class="col-sm-8" style="margin-top:60px;">
                                      <input type="file" name="face" id="upload" />
                                      <p class="help-block no-margin">格式：jpg、jpeg、gif、png 尺寸：508*760/px</p>
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label for="inputEmail4" class="col-sm-2 control-label">期数</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" name="number" id="inputEmail4" value="" placeholder="请填入对应的数字">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label">简介</label>
                                  <div class="col-sm-8">
                                      <textarea name="intro" class="form-control" rows="2"></textarea>
                                  </div>
                              </div> 
                              
                              <input type="hidden" name="face508">
                              <input type="hidden" name="face157">
                              <input type="hidden" name="face240">
                              
                              <input type="hidden" name="url">
                              
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-6">
                                      <button type="submit" class="btn btn-default">添加</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </section>
                 </div>
                </div>
            </div>
        </section>
    </section>
</div>
<include file="Public/footer"/> 
<!-- page special js plugin here -->
<script type="text/javascript" src="__PUBLIC__/Plugin/uploadify/jquery.uploadify.min.js"></script>
<script>
  $(function() {
	    var sid = "{:session_id()}";
	    //上传图片
		setTimeout(function() {
			    $('#upload').uploadify({
			      'swf'           :    "__PUBLIC__/Plugin/uploadify/uploadify.swf",
			      'uploader'      :    "{:U('Base/uploadKanwuFace')}",
			      'buttonImage'   :    "__PUBLIC__/Plugin/uploadify/browse-btn.png",
			      'width'         :    "120",
			      'height'        :    "30",
			      'fileTypeDesc'  :    "Image file",
			      'fileTypeExts'  :    "*.jpg;*.jpeg;*.gif;*.png",
			      'formData'      :    {"session_id"  : sid},
			      'multi'         :     false,
			      'removeTimeout' :     1,
			      onUploadSuccess :     function(file, data, response) {
			        eval('var data = ' + data);
			        if (data.status == 1) {
			        	$('input[name=face508]').val(data.path.face508);
			        	$('input[name=face157]').val(data.path.face157);
			        	$('input[name=face240]').val(data.path.face240);
			        	$('#no-image').attr('src', "__ROOT__/"+data.path.face240);
			        } else {
			        	alert(data.msg);
			        }
			      }
			    });
		}, 10);
	    //上传pdf
		setTimeout(function() {
		    $('#upload-movie').uploadify({
		      'swf'           :    "__PUBLIC__/Plugin/uploadify/uploadify.swf",
		      'uploader'      :    "{:U('Base/uploadPdf')}",
		      'buttonImage'   :    "__PUBLIC__/Plugin/uploadify/browse-btn-file.png",
		      'fileLimitSize' :    0,
		      'width'         :    "120",
		      'height'        :    "30",
		      'fileTypeDesc'  :    "Image file",
		      'fileTypeExts'  :    "*.pdf",
		      'formData'      :    {"session_id"  : sid},
		      'multi'         :     false,
		      'removeTimeout' :     1,
		      onUploadSuccess :     function(file, data, response) {
		        eval('var data = ' + data);
		        if (data.status == 1) {
		        	$('input[name=url]').val(data.path);
		        } else {
		        	alert(data.msg);
		        }
		      }
		    });
	}, 10);
  });
</script>

</body>
</html>