<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章正文</title>
<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet" type="text/css" />
<include file="Public/header"/>


<div id="khuj" style="background:url(__PUBLIC__/Home/images/zu.jpg) center top no-repeat;">
  <div id="h302"></div>
  <div id="rbqk">
       <h3>大赛咨询</h3>
     <p>  NEWS <img src="__PUBLIC__/Home/images/m20.jpg" width="16" height="22" /></p>
    </div>
    
  <div id="lfbw">
  <div class="h20"></div>
      <div id="ghyy">
        <div id="ghyy1">
          <h3>标题标题标题标题标题标题标题</h3>
          <p>发布时间：2015/04/23　11:30:43　浏览：369次</p>
              <p class="gy"><img src="__PUBLIC__/Home/images/m26.jpg" width="428" height="24" /></p>
            <p></p>
        </div>
      </div>
      <div class="h50"></div>
      <div class="clear"></div>
      <div id="ghyy2">
          文字文字文字文字文字文字文字文字
      <img src="__PUBLIC__/Home/images/m27.jpg" width="996" height="528" />

          文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
          文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
          文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
          文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
          文字文字文字文字文字文字文字文字
      <div class="h50"></div>
      </div>
 <div class="clear"></div>  
  </div>  
    
    
  <div class="clear"></div> 
</div>
<include file="Public/footer" />
</body>
</html>
