<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>大赛咨询 - 云上贵州</title>
  <link href="__PUBLIC__/Home/css/zixun.css" rel="stylesheet" type="text/css" />
  <include file="Public/header" />
  
  <div id="khuj" style="background:url(__PUBLIC__/Home/images/zu.jpg) center top no-repeat;">
    <div id="h302"></div>
    <div class="all">
      <div class="all_1">
        <img src="__PUBLIC__/Home/images/qzy/3.jpg" width="208" height="52" />
      </div>
      <div class="all_2">
        <div class="all_2_1">
          <div class="all_2_1_l">大赛资讯</div>
          <div class="all_2_1_r">您现在的位置：首页>大赛资讯</div>
          <div class="clear"></div>
        </div>
        <foreach name="list" item="v">
          <div class="all_2_2">
            <div class="all_2_2_l">
              <a href="{:U('Article/detail', array('id' => $v['id']))}">
                <img src="__ROOT__/{$v.thumb}" width="230" height="136" />
              </a>
            </div>
            <div class="all_2_2_r">
              <div class="all_2_2_r_1">{$v.title}</div>
              <div class="all_2_2_r_2">
                发布时间：
                <span>{$v.create_at|date="Y-m-d", ###}</span>
              </div>
              <div class="all_2_2_r_3">
                {$v.desc}
              </div>
              <div class="all_2_2_r_4">
                <a href="{:U('Article/detail', array('id' => $v['id']))}">查看原文&gt;&gt;</a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </foreach>

        <div class="all_2_3">
          <!-- <a href="#">下一页</a>
          <a href="#">上一页</a> -->
          {$page}
        </div>
      </div>
    </div>
  </div>
  <include file="Public/footer" />
</body>
    </html>