<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>报名通道</title>
  <link href="__PUBLIC__/Home/Css/index.css" rel="stylesheet" type="text/css" />
  <include file="Public/header"/>

  <div id="khuj" style="background:url(__PUBLIC__/Home/Images/m19.jpg) center top no-repeat;">
    <div id="h302"></div>
    <div id="rbqk">
      <h3>报名通道</h3>
      <p>
        SIGN ＵＰ
        <img src="__PUBLIC__/Home/Images/m20.jpg" width="16" height="22" />
      </p>
    </div>

    <div id="lfbw">
      <div class="h50"></div>
      <div id="outer">
        <label class="lab">团队性质</label>
        <ul id="tab">
            <li class="current">企业</li>
            <li>个人/团体</li>
        </ul>
        <div class="clear"></div>
        <div id="content">
            <ul style="display:block;">
              <li>
                <div class="m-form">
                  <form name="" action="#" method="get">
                    <fieldset style="border: 0;">
                      <div class="formitm">
                        <label class="lab">项目名称</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                          <p>请填写参赛项目名称</p>
                        </div>
                      </div>
                      <div class="formitm formitms">
                        <label class="lab">商业计划书</label>
                        <div id="ipt" class="ipt">
                            <button type="button" class="ipt-u u-ipt">选择文件</button>
                            <input type="file" class="file" />
                            <p>支持word,ppt,pdf格式</p>
                        </div>
                      </div>
                      <div class="formitm formitms">
                        <label class="lab">企业名称</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                          <p>请填写企业名称</p>
                        </div>
                      </div>
                      <div class="formitm formitms">
                        <label class="lab">企业注册地</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                          <p>请填写企业注册地</p>
                        </div>
                      </div>
                      <div class="formitm formitms">
                        <label class="lab">营业执照注册号</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                          <p>请输入15位置营业执照注册号</p>
                        </div>
                      </div>
                      <div class="formitm formitms">
                        <label class="lab">营业执照扫描件</label>
                        <div class="ipt">
                          <button type="button" class="ipt-u u-ipt">选择文件</button>
                          <input type="file" class="file" />
                          <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m25.jpg" alt="" class="fileImg" />
                          </div>
                        </div>
                        <div id="fiwg3">
                          <p>
                            以左图方式双手持身份证，以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证
                          </p>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">负责人姓名</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">负责人身份证号</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">负责人手机号</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                          <a  href="javascript:;"><img class="code-img" src="__PUBLIC__/Home/Images/yzm.jpg" alt="验证码"/></a>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">请输入验证码</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">负责人邮箱</label>
                        <div class="ipt">
                          <input type="text" class="u-ipt"/>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab">负责人身份证照片</label>
                        <div class="ipt">
                          <button type="button" class="ipt-u u-ipt">选择正面</button>
                          <input type="file" class="file" />
                          <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m21.jpg" alt="" class="fileImg" />
                          </div>
                        </div>
                        <div class="ipt">
                          <button type="button" class="ipt-u u-ipt">选择反面</button>
                          <input type="file" class="file" />
                          <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m22.jpg" alt="" class="fileImg" />
                          </div>
                        </div>
                      </div>
                      <div class="formitm">
                        <label class="lab labb">负责人</label>
                        <label class="lab">手持身份证照片</label>
                        <div class="ipt">
                          <button type="button" class="ipt-u u-ipt">选择正面</button>
                          <input type="file" class="file" />
                          <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m23.jpg" alt="" class="fileImg" />
                          </div>
                        </div>
                        <div class="ipt">
                          <button type="button" class="ipt-u u-ipt">选择反面</button>
                          <input type="file" class="file" />
                          <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m23.jpg" alt="" class="fileImg" />
                          </div>
                        </div>
                        <div id="fiwg">
                          <div id="fiwg1">
                            <p>示例</p> <i><img src="__PUBLIC__/Home/Images/m24.jpg" /></i>
                          </div>
                          <div id="fiwg2">
                            <p>
                              以左图方式双手持身份证，以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证
                            </p>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div id="borbot2"></div>
                      <div align="center">
                        <input name="" type="button" value="确定无误，提交" / class="wgog1">
                      </div>
                    </fieldset>
                  </form>
                </div>
              </li>
            </ul>
            <ul style="display:none;">
              <li>
                <div class="m-form">
                  <form name="" action="#" method="get">
                    <fieldset style="border: 0;">
                      <div class="formitm">
                          <label class="lab">项目名称</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                              <p>请填写参赛项目名称</p>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">商业计划书</label>
                          <div id="ipt" class="ipt">
                              <button type="button" class="ipt-u u-ipt">选择文件</button>
                              <input type="file" class="file" />
                              <p>支持word,ppt,pdf格式</p>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">负责人姓名</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">负责人身份证号</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">负责人手机号</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                              <a href="javascript:;"><img class="code-img" src="__PUBLIC__/Home/Images/yzm.jpg" alt="验证码"/></a>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">请输入验证码</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">负责人邮箱</label>
                          <div class="ipt">
                              <input type="text" class="u-ipt"/>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab">负责人身份证照片</label>
                          <div class="ipt">
                            <button type="button" class="ipt-u u-ipt">选择正面</button>
                            <input type="file" class="file" />
                            <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m21.jpg" alt="" class="fileImg" />
                          </div>
                          </div>
                          <div class="ipt">
                            <button type="button" class="ipt-u u-ipt">选择反面</button>
                            <input type="file" class="file" />
                            <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m22.jpg" alt="" class="fileImg" />
                          </div>
                          </div>
                      </div>
                      <div class="formitm">
                          <label class="lab labb">负责人</label>
                          <label class="lab">手持身份证照片</label>
                          <div class="ipt">
                            <button type="button" class="ipt-u u-ipt">选择正面</button>
                            <input type="file" class="file" />
                            <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m23.jpg" alt="" class="fileImg" />
                          </div>
                          </div>
                          <div class="ipt">
                            <button type="button" class="ipt-u u-ipt">选择反面</button>
                            <input type="file" class="file" />
                            <div id="fileImg">
                            <img src="__PUBLIC__/Home/Images/m23.jpg" alt="" class="fileImg" />
                          </div>
                          </div>
                          <div id="fiwg">
                            <div id="fiwg1">
                                  <p>示例</p> <i><img src="__PUBLIC__/Home/Images/m24.jpg" /></i>
                            </div>
                            <div id="fiwg2">
                                  <p>
                                    以左图方式双手持身份证，以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证以左图方式双手持身份证
                                  </p>
                            </div>
                            <div class="clear"></div>
                          </div>
                      </div>
                      <div id="borbot2"></div>
              				<div align="center">
              					<input name="" type="button" value="确定无误，提交" / class="wgog1">
              				</div>
                    </fieldset>
                  </form>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <include file="Public/footer"/>
  <script>
          $(function(){
            window.onload = function()
            {
              var $li = $('#tab li');
              var $ul = $('#content ul');
              $li.click(function(){
                var $this = $(this);
                var $t = $this.index();
                $li.removeClass();
                $this.addClass('current');
                $ul.css('display','none');
                $ul.eq($t).css('display','block');
              })
            }
          });
      </script>
</body>
</html>