<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>云上贵州-登录</title>
  <link href="css/head.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/Home/css/jianjie.css" rel="stylesheet" type="text/css" />
<include file="Public/header" />
  <div id="khuj" style="background:url(__PUBLIC__/Home/images/jj.jpg) center top no-repeat;">
    <div id="h302"></div>
      <div class="all" style="over-flow:hidden">
        <div class="all_1">
          <div class="all_1_l">
            <img src="__PUBLIC__/Home/images/qzy/6.jpg" width="310" height="53" />
          </div>
          <div class="all_1_r">
            <ul>
              <li>评分细则</li>
              <li>奖项设置</li>
              <li>评审组</li>
              <li>报名规则</li>
              <li>大赛支持</li>
              <li>大赛组织</li>
              <li>赛制与流程</li>
              <li>大赛简介</li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="all_2">
          <div class="all_2_1">
            <div class="all_2_1_l">大赛简介</div>
            <div class="all_2_1_r">您现在的位置：首页>大赛简介</div>
            <div class="clear"></div>
          </div>
          <div class="all_2_2">
            <img src="__PUBLIC__/Home/images/qzy/7.jpg" width="813" height="49" />
          </div>
          <div class="all_2_3">
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业产业贵州在大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业产业贵州在大数据产业
            </p>
          </div>
          <div class="all_2_2">
            <img src="__PUBLIC__/Home/images/qzy/8.jpg" width="812" height="49" />
          </div>
          <div class="all_2_4">2015年10月-2016年6月</div>
          <div class="all_2_2">
            <img src="__PUBLIC__/Home/images/qzy/8.jpg" width="812" height="49" />
          </div>
          <div class="all_2_5">
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
            <p>
              贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产业贵州在大数据产据产业贵州在大大数据产业贵州在大数据产业贵州在大数据产业贵州产业贵州在大数大数据产业
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <include file="Public/footer"/>
</body>
</html>