<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>云上贵州-登录</title>
  <link href="__PUBLIC__/Home/Css/jianjie.css" rel="stylesheet" type="text/css" />
<include file="Public/header" />
  <div id="khuj" style="background:url(__PUBLIC__/Home/Images/jj.jpg) center top no-repeat;">
    <div id="h302"></div>
      <div class="all" style="over-flow:hidden">
        <div class="all_1">
          <div class="all_1_l">
            <img src="__PUBLIC__/Home/Images/qzy/6.jpg" width="310" height="53" />
          </div>
          <div class="all_1_r">
            <ul>
              <foreach name="list" item="v">
                <li><a href="{:U('Intro/index', ['id' => $v['id']])}">{$v.title}</a></li>
              </foreach>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="all_2">
          <div class="all_2_1">
            <div class="all_2_1_l">{$article.title}</div>
            <div class="all_2_1_r">您现在的位置：首页>大赛简介</div>
            <div class="clear"></div>
          </div>
          <div class="all_2_3" style="min-height:500px;">
           {$article.content}
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <include file="Public/footer"/>
</body>
</html>