<script src="__PUBLIC__/Admin/vendor/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/Admin/bootstrap/js/bootstrap.js"></script>
<script src="__PUBLIC__/Admin/vendor/jquery.easing.min.js"></script>
<script src="__PUBLIC__/Admin/vendor/jquery.placeholder.js"></script>
<script src="__PUBLIC__/Admin/vendor/fastclick.js"></script>

<script src="__PUBLIC__/Admin/vendor/offline/offline.min.js"></script>
<script src="__PUBLIC__/Admin/vendor/pace/pace.min.js"></script>
<script src="__PUBLIC__/Admin/js/off-canvas.js"></script>
<script src="__PUBLIC__/Admin/js/main.js"></script>
<script src="__PUBLIC__/Admin/js/panel.js"></script>

<script src="__PUBLIC__/Admin/js/components.js"></script>
<script src="__PUBLIC__/Admin/vendor/slider/bootstrap-slider.js"></script>
<script src="__PUBLIC__/Admin/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="__PUBLIC__/Admin/js/feed.js"></script>

<script src="__PUBLIC__/Admin/js/common.js"></script>