<include file="Public/header"/>
<!-- page special css plugin here -->
<style>
	#table  td {
	 	 vertical-align:middle;
	}
</style>
<include file="Public/nav"/>
            <section class="main-content">
                <div class="content-wrap">
                	<div class="row mg-b">
                        <div class="col-xs-12">
                            <section class="panel">
                                <header class="panel-heading">
                                
                                	<div class="btn-group show-on-hover">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">{$titleL2}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{:U('Screening/index')}">正在上映</a>
                                            </li>
                                            <li>
                                                <a href="{:U('Screening/index', ['type' => 2])}"> 即将上映</a>
                                            </li>
                                        </ul>
                                    </div>
                                
                                </header>
                                <div class="panel-body no-padding">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-striped responsive" data-sortable="" data-sortable-initialized="true">
                                            <thead>
                                                <tr>
                                                    <th>电影名称</th>
                                                    <th>缩略图</th>
                                                    <th>上映时间</th>
                                                    <th>类型</th>
                                                    <th>导演</th>
                                                    <th>主演</th>
                                                    <th>排序</th>
                                                    <th>操作</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<foreach name="list" item="v">
	                                                <tr>
                                                        <td>{$v.name}</td>
                                                        <td>
                                                            <img src="__ROOT__/{$v.small_thumb}" width="40" height="50">
                                                        </td>
                                                        <td>{$v.time|date="Y-m-d", ###}</td>
	                                                    <td>{$v.cate}</td>
                                                        <td>{$v.director}</td>
	                                                    <td>{$v.actor|mb_substr=###,0,8,'utf-8'}...</td>
                                                      <td>{$v.sort}</td>
	                                                    <td>
	                                                    	<a href="{:U('Screening/edit', ['id' => $v['id'], 'pos' => $pos])}" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><span class="fa fa-edit text-success"></span></a>&nbsp;
                                             			  	<a class="del" href="{:U('Screening/del', ['id' => $v['id']])}" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><span class="fa fa-trash-o text-success"></span></a>
	                                                    </td>
	                                                </tr>
                                                </foreach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>

                             <!-- page -->
                            <section class="panel bg-none">
                                <div class="page">
                                    {$page}
                                </div>
                                <div style="clear:both;"></div>
                           </section>
                            <!-- page-end -->
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
<!-- page special js plugin here -->
<include file="Public/footer"/>  
</body>

</html>