<!-- page common css here -->
<link href="__PUBLIC__/Home/Css/base.css" rel="stylesheet" type="text/css" />
</head>

<body style="background:#fff">
<!--头部  开始-->
<div id="head">
  <div id="head1">
    <div id="mav">
          <div id="logo"><img src="__PUBLIC__/Home/Images/logo.jpg" width="502" height="124" /></div>
          <div id="neww11">
              <div id="iymm1">
                <input type="text" placeholder="请输入关键字搜索" / class="udq1">
                <button type="submit" class="buttons"> </button>
              </div>
              <div class="iymm">
                <p><a href="{:U('Regist/index')}">注册</a></p>
                <p><a href="#">登录</a></p>
              </div>
          </div>
          <div id="neww">
              <ul>
                  <li><a href="__ROOT__">首页</a></li>
                  <li><a href="#">大赛简介</a></li>
                  <li><a href="#">大赛资讯</a></li>
                  <li><a href="#">报名通道</a></li>
                  <li><a href="#">联系我们</a></li>
                  <li><a href="#">往届回顾 </a></li>
              </ul>
          </div>
    </div>
  <div class="clear"></div>
</div>