<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第二届云上贵州大数据商业模式大赛</title>
    <link href="__PUBLIC__/Home/Css/index.css" rel="stylesheet" type="text/css" />
    <include file="Public/header" />
    <!--首页焦点图-->
    <div style="background-color:#fff">
    <!--首页  焦点图-->
    <div id="wrappen">
      <div id="wrapper">
        <ul class="lanrenzhijia">
          <foreach name="ad_1" item="v">
            <li class="lanrenzhijia_li show_images_{$key + 1}">
              <a <if condition="$v['url']">href="{$v.url}" target="_blank" </if>>
                <img class="show_images_{$key + 1}_img" src="__ROOT__/{$v.thumb}" alt="{$v.desc}" />
              </a>
            </li>
          </foreach>
        </ul>
        <div style="clear:both;"></div>
      </div>
    </div>
    <!--头部结束-->
    <div id="Middle">
      <div id="left_1">
        <!-- 轮播图代码开始 -->
        <div id="fsD1" class="focus">
          <div id="D1pic1" class="fPic">
            <foreach name="ad_2" item="v">
              <div class="fcon" style="display: none;">
                <a <if condition="$v['url']">href="{$v.url}" target="_blank" </if>>
                  <img src="__ROOT__/{$v.thumb}" style="opacity: 1; ">
                </a>
                <if condition="$v['desc']">
                  <span class="shadow"><a <if condition="$v['url']">href="{$v.url}" target="_blank" </if>>{$v.desc}</a></span>
                </if>
              </div>
            </foreach>
          </div>
          <div class="fbg">
            <div class="D1fBt" id="D1fBt">
              <foreach name="ad_2" item="v">
                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>{$key + 1}</i></a>
              </foreach>
            </div>
          </div>
        </div>
        <!-- 轮播图代码结束 -->
      </div>
      <div id="right_1">
        <foreach name="art" item="v">
          <div class="Tile1">
            <h3>{$v.title}</h3>
            <p>　　{$v.desc|mb_substr=###, 0, 130, 'utf-8'}...<span><a href="{:U('Article/detail', array('id' => $v['id']))}">[详细]</a></span></p>
          </div>
        </foreach>
      </div>
      <div class="clear"></div>
    </div>
    <div class="h20"></div>
    <div id="Middle1">
      <div class="ddpa">
        
        <div class="ddpa1"><img src="__PUBLIC__/Home/images/m2.jpg" width="1185" height="96" /></div>
        
        <foreach name="intro" item="v">
          <div <if condition="$key % 2 eq 0">class="ddpa2"<else/>class="ddpa22"</if>>
           <div class="ddpa2_img"><img src="__ROOT__/{$v.thumb}" width="140" height="130" /></div>  
           <div class="ddpa2_Tilte">
              <h3>{$v.title}</h3>
             <p>{$v.desc|mb_substr=###, 0, 100, 'UTF-8'}...<span><a href="{:U('Article/detail', array('id' => $v['id']))}">详细</a></span></p>
           </div>
         </div>
       </foreach>
     </div>
    </div>
    <div class="h50"></div>
    <div id="Middle2">
    <p><a href="#"><img src="__PUBLIC__/Home/images/m9.jpg" width="373" height="228" /></a></p>
    <p><a href="baomingtongdao.html"><img src="__PUBLIC__/Home/images/m7.jpg" width="371" height="228" /></a></p>
    <p><a href="#"><img src="__PUBLIC__/Home/images/m8.jpg" width="373" height="230" /></a></p>
    </div>
    <div class="h50"></div>
    <div id="Middle1" style="height:630px;">
    <div id="ddp1a">
    <div id="ddpa1"><img src="__PUBLIC__/Home/images/m10.jpg" width="1185" height="122" /></div>
    <div class="modeA">
      <!--代码开始-->
      <div class="slide_screen">
        <ul class="list">
          <li class="liA">
            <div class="window">
              <foreach name="ad_3" item="v">
                <div class="piece">
                  <a <if condition="$v['url']"> target="_blank" href="{$.url}" </if>>
                    <img alt="{$v.desc}" src="__ROOT__/{$v.thumb}">
                  </a>
                  <if condition="$v['desc']">
                    <div class="bar">
                      <h3>{$v.desc}</h3>
                      <span></span>
                    </div>
                  </if>
                </div>
              </foreach>
            </div>
          </li>
          <li class="liB">
            <div class="window">
              <foreach name="ad_4" item="v">
                <div class="piece">
                  <a <if condition="$v['url']"> target="_blank" href="{$.url}" </if>>
                    <img alt="{$v.desc}" src="__ROOT__/{$v.thumb}">
                  </a>
                  <if condition="$v['desc']">
                    <div class="bar">
                      <h3>{$v.desc}</h3>
                      <span></span>
                    </div>
                  </if>
                </div>
              </foreach>
            </div>
          </li>
          <li class="liC">
            <div class="window">
              <foreach name="ad_5" item="v">
                <div class="piece">
                  <a <if condition="$v['url']"> target="_blank" href="{$.url}" </if>>
                    <img alt="{$v.desc}" src="__ROOT__/{$v.thumb}">
                  </a>
                  <if condition="$v['desc']">
                    <div class="bar">
                      <h3>{$v.desc}</h3>
                      <span></span>
                    </div>
                  </if>
                </div>
              </foreach>
            </div>
          </li>
          <li class="liD">
            <div class="window">
              <foreach name="ad_6" item="v">
                <div class="piece">
                  <a <if condition="$v['url']"> target="_blank" href="{$.url}" </if>>
                    <img alt="{$v.desc}" src="__ROOT__/{$v.thumb}">
                  </a>
                  <if condition="$v['desc']">
                    <div class="bar">
                      <h3>{$v.desc}</h3>
                      <span></span>
                    </div>
                  </if>
                </div>
              </foreach>
            </div>
          </li>
        </ul>
      </div>
      <!--代码结束-->
    </div>
    </div>
    </div>
    <div id="Middle3">
    <div id="xexk">
      <img src="__PUBLIC__/Home/images/m14.jpg" width="1185" height="94" />
      <div id="xexk1" class="xexk2">
        <p>中国工业和信息化部软件服务业司</p>
        <p>共青团中央学校部</p>
        <p>中国电子企业协会</p>
      </div>
      <div id="xexk1" class="xexk3">
        <p>清华大学</p>
        <p>贵阳市人民政府</p>
        <p>贵安新区管委会</p>
        <p>贵州省经济和信息化委员会</p>
      </div>
      <div id="xexk1">
        <p>阿里巴巴集团</p>
        <p>百度公司</p>
        <p>腾讯公司</p>
        <p>新浪公司</p>
        <p>赛伯乐投资公司</p>
      </div>
      <div id="xexk1">
        <p>中软国际公司</p>
        <p>中关村青年联合会</p>
      </div>
      <div id="xexk1" class="xexk4">
        <p>中软国际公司</p>
      </div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="h50"></div>
    <div id="Middle4">
    <div id="fcrf">
      <img src="__PUBLIC__/Home/images/m15.jpg" width="1185" height="121" />
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
      <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    <div id="fcrf1">
     <p><a href="#"><img src="__PUBLIC__/Home/images/m16.jpg" width="272" height="79" /></a></p>
    </div>
    </div>
    <div id="Middle5">
      <p>友情链接：友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  </p>
    </div>
    </div>

    <include file="Public/footer" />
    <!-- page special js plugin  -->
    <script>
      var URL = "__PUBLIC__/Home/Js/terminator2.2.min.js";
    </script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/koala.min.1.5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/focus.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/index.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/a.js"></script>

  </body>
</html>
