<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>云上贵州</title>
  <link href="__PUBLIC__/Home/Css/index.css" rel="stylesheet" type="text/css" />
 <include file="Public/header" />
  <!--首页  焦点图-->
  <div id="wrappen">
    <div id="wrapper">
      <ul class="lanrenzhijia">
        <li class="lanrenzhijia_li show_images_1">
          <a href="#" target="_blank"><img class="show_images_1_img" src="__PUBLIC__/Home/images/1.jpg" alt="" /></a></li>
            <li class="lanrenzhijia_li show_images_2">
          <a href="#" target="_blank"><img class="show_images_2_img" src="__PUBLIC__/Home/images/4.jpg" alt="" /></a></li>
            <li class="lanrenzhijia_li show_images_3">
          <a href="#" target="_blank"><img class="show_images_3_img" src="__PUBLIC__/Home/images/2.jpg" alt="" /></a></li>
            <li class="lanrenzhijia_li show_images_4">
          <a href="#" target="_blank"><img class="show_images_4_img" src="__PUBLIC__/Home/images/3.jpg" alt="" /></a></li>
      </ul>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<!--头部  结束-->
<div id="Middle">
    <div id="left_1">
      <!-- 代码 开始 -->
        <div id="fsD1" class="focus">
            <div id="D1pic1" class="fPic">
                <div class="fcon" style="display: none;">
                    <a target="_blank" href="#"><img src="__PUBLIC__/Home/images/01.jpg" style="opacity: 1; "></a>
                    <span class="shadow"><a target="_blank" href="http://ln.qq.com/a/20140625/015503.htm">红三代叶明子太庙办盛典 白色羽毛装高贵动人</a></span>
                </div>
                <div class="fcon" style="display: none;">
                    <a target="_blank" href="#"><img src="__PUBLIC__/Home/images/02.jpg" style="opacity: 1; "></a>
                    <span class="shadow"><a target="_blank" href="http://ln.qq.com/a/20140625/015503.htm">佟大为登封面表情搞怪 成熟男人也是天真男孩</a></span>
                </div>
                <div class="fcon" style="display: none;">
                    <a target="_blank" href="#"><img src="__PUBLIC__/Home/images/03.jpg" style="opacity: 1; "></a>
                    <span class="shadow"><a target="_blank" href="http://ln.qq.com/a/20140625/015503.htm">21岁出柜超模巴厘自曝搞笑全裸照</a></span>
                </div>
                <div class="fcon" style="display: none;">
                    <a target="_blank" href="#"><img src="__PUBLIC__/Home/images/04.jpg" style="opacity: 1; "></a>
                    <span class="shadow"><a target="_blank" href="http://ln.qq.com/a/20140625/015503.htm">金喜善出道21年 皮肤白皙越长越“嫩”！</a></span>
                </div>
            </div>
            <div class="fbg">
              <div class="D1fBt" id="D1fBt">
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a>
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>
              </div>
            </div>
        </div>
          
      <!-- 代码 结束 -->
    </div>
  <div id="right_1">
    <div id="Tile1">
            <h3>第二届中国“云上贵州”大数据商业模式大赛启动</h3>
            <p>　　以“云上贵州　数‘踞’中国”为主题的2015中国“云上贵州”大数据商业模式大赛9月14日在贵阳启动。大赛将通过对全世界大数据商业模式的征集、评选与深度挖掘,引进优秀“大数据项目”<span>[详细]</span></p>
        </div>
    <div id="Tile1">
            <h3>第二届中国“云上贵州”大数据商业模式大赛启动</h3>
            <p>　　以“云上贵州　数‘踞’中国”为主题的2015中国“云上贵州”大数据商业模式大赛9月14日在贵阳启动。大赛将通过对全世界大数据商业模式的征集、评选与深度挖掘,引进优秀“大数据项目”<span>[详细]</span></p>
        </div>
    <div id="Tile1">
            <h3>第二届中国“云上贵州”大数据商业模式大赛启动</h3>
            <p>　　以“云上贵州　数‘踞’中国”为主题的2015中国“云上贵州”大数据商业模式大赛9月14日在贵阳启动。大赛将通过对全世界大数据商业模式的征集、评选与深度挖掘,引进优秀“大数据项目”<span>[详细]</span></p>
        </div>
  </div>
  <div class="clear"></div>
</div>
<div class="h20"></div>
<div id="Middle1">
   <div id="ddpa">
       <div id="ddpa1"><img src="__PUBLIC__/Home/Images/m2.jpg" width="1185" height="96" /></div>
     <div id="ddpa2">
           <div id="ddpa2_img"><img src="__PUBLIC__/Home/Images/m3.jpg" width="140" height="130" /></div>  
           <div id="ddpa2_Tilte">
               <h3>大赛简介</h3>
               <p>贵州在大数据产业基础构建期，举办2015“云上贵州”大数据商业模式大赛，是圆满完成塑造“云上贵州”现代形象、吸引相关产业在黔落地的重要举措。通过举办大赛，将贵州发展大数据产业的规划传播出去...　　　　　<span>详细</span></p>
           </div>
     </div>
     <div id="ddpa22">
           <div id="ddpa2_img"><img src="__PUBLIC__/Home/Images/m4.jpg" width="140" height="130" /></div>  
           <div id="ddpa2_Tilte">
               <h3>大赛简介</h3>
               <p>贵州在大数据产业基础构建期，举办2015“云上贵州”大数据商业模式大赛，是圆满完成塑造“云上贵州”现代形象、吸引相关产业在黔落地的重要举措。通过举办大赛，将贵州发展大数据产业的规划传播出去...　　　　　<span>详细</span></p>
           </div>
     </div>
     
     <div id="ddpa2">
           <div id="ddpa2_img"><img src="__PUBLIC__/Home/Images/m5.jpg" width="140" height="130" /></div>  
           <div id="ddpa2_Tilte">
               <h3>大赛简介</h3>
               <p>贵州在大数据产业基础构建期，举办2015“云上贵州”大数据商业模式大赛，是圆满完成塑造“云上贵州”现代形象、吸引相关产业在黔落地的重要举措。通过举办大赛，将贵州发展大数据产业的规划传播出去...　　　　　<span>详细</span></p>
           </div>
     </div>
     <div id="ddpa22">
           <div id="ddpa2_img"><img src="__PUBLIC__/Home/Images/m6.jpg" width="140" height="130" /></div>  
           <div id="ddpa2_Tilte">
               <h3>大赛简介</h3>
               <p>贵州在大数据产业基础构建期，举办2015“云上贵州”大数据商业模式大赛，是圆满完成塑造“云上贵州”现代形象、吸引相关产业在黔落地的重要举措。通过举办大赛，将贵州发展大数据产业的规划传播出去...　　　　　<span>详细</span></p>
           </div>
     </div>
  </div>
</div>
<div class="h50"></div>
<div id="Middle2">
    <p><a href="#"><img src="__PUBLIC__/Home/Images/m9.jpg" width="373" height="228" /></a></p>
    <p><a href="#"><img src="__PUBLIC__/Home/Images/m7.jpg" width="371" height="228" /></a></p>
    <p><a href="#"><img src="__PUBLIC__/Home/Images/m8.jpg" width="373" height="230" /></a></p>
</div>
<div class="h50"></div>
<div id="Middle1" style="height:630px;">
   <div id="ddp1a">
       <div id="ddpa1"><img src="__PUBLIC__/Home/Images/m10.jpg" width="1185" height="122" /></div>
     <div id="tynm">
         <div id="tynm1">
            <a href="#"><img src="__PUBLIC__/Home/Images/m11.jpg" width="698" height="445" /></a>
            <h3>“云上贵州”大数据商业模式大赛落幕 “东方祥云”项目摘取云端大奖</h3>
         </div>
      <div id="tym">
       <div id="tynm2">
            <a href="#"><img src="__PUBLIC__/Home/Images/m11.jpg" width="240" height="210" /></a>
            <h3>“云上贵州”大数据商业模式大赛落幕 </h3>
         </div>
       <div id="tynm2" style="margin-top:4px;">
            <a href="#"><img src="__PUBLIC__/Home/Images/m11.jpg" width="240" height="210" /></a>
            <h3>“云上贵州”大数据商业模式大赛落幕 </h3>
         </div>
      </div>
       <div id="tynm3">
            <a href="#"><img src="__PUBLIC__/Home/Images/m11.jpg" width="240" height="210" /></a>
            <h3>“云上贵州”大数据商业模式大赛落幕 </h3>
         </div>
     </div>
  </div>
</div>

<div id="Middle3">
<div class="h50"></div>
   <div id="xexk">
   <img src="__PUBLIC__/Home/Images/m14.jpg" width="1185" height="94" />
<div id="xexk1" class="xexk2">
    <h3>指导单位</h3>
    
    <p>中国工业和信息化部软件服务业司</p>
    <p>共青团中央学校部</p>
    <p>中国电子企业协会</p>
</div>
<div id="xexk1" class="xexk3">
    <h3>主办单位</h3>
    
    <p>清华大学</p>
    <p>贵阳市人民政府</p>
    <p>贵安新区管委会</p>
    <p>贵州省经济和信息化委员会</p>
</div>
<div id="xexk1">
    <h3>联合主办</h3>
    
    <p>阿里巴巴集团</p>
    <p>百度公司</p>
    <p>腾讯公司</p>
    <p>新浪公司</p>
    <p>赛伯乐投资公司</p>
</div>
<div id="xexk1">
    <h3>协办单位</h3>
    
    <p>中软国际公司</p>
    <p>中关村青年联合会</p>
</div>
<div id="xexk1" class="xexk4">
    <h3>执行承办</h3>
    
    <p>中软国际公司</p>
    
</div>
  </div>

</div>
<div class="h50"></div>
<div id="Middle4">
    <div id="fcrf">
    <img src="__PUBLIC__/Home/Images/m15.jpg" width="1185" height="121" /> </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
    <div id="fcrf1">
       <p><a href="#"><img src="__PUBLIC__/Home/Images/m16.jpg" width="272" height="79" /></a></p>
    
    </div>
</div>

<div id="Middle5">
   <p>友情链接：友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  友情链接 友情链接  </p>
</div>


<include file="Public/footer" />
<!-- page special js plugin  -->
<script>
  var URL = "__PUBLIC__/Home/Js/terminator2.2.min.js";
</script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/koala.min.1.5.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/focus.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/index.js"></script>

</body>
</html>
