<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>云上贵州-注册</title>
<link href="__PUBLIC__/Home/Css/zhuce.css" rel="stylesheet" type="text/css" />
<include file="Public/header" />
<!--头陪  结束-->
<div id="khuj" style="background:url(__PUBLIC__/Home/Images/m19.jpg) center top no-repeat;">
    <div id="h302"></div>
    <div class="all">
      <div class="all_1"> <img src="__PUBLIC__/Home/Images/qzy/1.jpg" width="411" height="52" /></div>
      <div class="all_2">
        <div class="all_2_l">
          <div class="all_2_l_1">
            <div class="all_2_l_1_l">姓名：</div>
            <div class="all_2_l_1_r">
              <input name="" type="text" />
            </div>
            <div class="clear"></div>
          </div>
          <div class="all_2_l_1">
            <div class="all_2_l_1_l">邮箱：</div>
            <div class="all_2_l_1_r">
              <input name="" type="text" />
            </div>
            <div class="clear"></div>
          </div>
          <div class="all_2_l_1">
            <div class="all_2_l_1_l">手机：</div>
            <div class="all_2_l_1_r">
              <input name="" type="text" />
            </div>
            <div class="clear"></div>
          </div>
          <div class="all_2_l_1">
            <div class="all_2_l_1_l">密码：</div>
            <div class="all_2_l_1_r">
              <input name="" type="text" />
            </div>
            <div class="clear"></div>
          </div>
          <div class="all_2_l_1">
            <div class="all_2_l_1_l">确认密码：</div>
            <div class="all_2_l_1_r">
              <input name="" type="text" />
            </div>
            <div class="clear"></div>
          </div>
          <div class="all_2_l_1">
            <div class="all_2_l_1_l"></div>
            <div class="all_2_l_1_r all_2_l_1_r_g">
              <input  type="submit" value="注册" />
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="all_2_r">
        
        <div class="all_2_r_1">
       	  已有帐号？<a href="{:U('Login/index')}">立即登录</a></div>
          <div class="all_2_r_1 all_2_r_1_g">
          
          组委会电话：0851-8626792
       	</div>
        <div class="all_2_r_2"><img src="__PUBLIC__/Home/Images/qzy/2.jpg" width="350" height="291" /></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>
<include file="Public/footer" />
</body>
</html>
