@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td {
	margin: 0;
	padding: 0;
}
.clear{ clear:both; }
body{ font-family: "微软雅黑"; background-color: #F1F1F1; }
ul li{ list-style-type:none; }
a{text-decoration:none; border:none;}
input,button,select,textarea{outline:none} 
textarea{resize:none}

.h20{ height:20px; }
.h50{ height:50px; }
#h302{height: 302px;}
#head { background-color: #000; height: 125px; width: 100%; }
#mav { width: 1185px; margin-right: auto; margin-left: auto; }
#logo { width: 510px; float: left; }
#neww{ line-height: 60px; float: right; }
#neww ul li { line-height: 60px; float: left; padding-right: 20px; padding-left: 20px; }

#neww ul li a { color: #FFF; text-decoration: none; font-size: 16px; }
a:hover { color: #ff0b1b; }
#khny_Title p a:hover { color: #ff0b1b; }
#neww ul li a:hover { color: #ff0b1b; }
#foot { background-color: #353535; height: 280px; width: 100%; }
#foot1 { width: 1185px; height:160px; margin-right: auto; margin-left: auto; }
#foot1_Title h3 { color: #d5d5d5; font-size: 18px; font-weight: normal; margin-top: -10px;}
#foot1_Title img { vertical-align: middle; }
#foot1_logo { float: left; width: 160px; height: 200px; }
#foot1_Title p { color: #d5d5d5; font-size: 16px; line-height: 25px; }
#foot1_Title .mmq { font-size: 24px; color: #ff488f; line-height: 50px; }
#foot1_Title{ width: 320px; float: left; }
#foot_qq{ width: 250px; float: left; }
#foot_qq .maz { background-image: url(../Images/c2.png); float: left; line-height: 71px; height: 66px; text-indent: 7em; font-size: 14px; color: #cacaca; width: 250px; }
#foot_qq .maz1 { background-image: url(../Images/c2.png); float: left; line-height: 60px; height: 66px; text-indent: 7em; font-size: 14px; color: #cacaca; width: 250px; background-position: center 66px; }
#foot_rvtv{ width:385px; float:left; margin-left:20px; }#foot_rvrv_img { float: left; margin-top: 10px; margin-right: 10px; }
#foot_Tbr .mn1 { font-size: 18px; color: #d5d5d5; margin-top: 10px; }
#foot_Tbr .mn2 { font-size: 24px; color: #d5d5d5; line-height: 40px; }
#foot_wqbu { width: 710px; margin-right: auto; margin-left: auto; }
#foot_wqbu p { font-size: 12px; line-height: 35px; color: #bcbcbc; text-align: center; }


#foot_Tbr .mn3 { font-size: 16px; color: #d5d5d5; }
#foot_Tbr .mn4 { color: #fefefe; font-size: 16px; }
#neww11 { float: right; height: 30px; width: 320px; margin-top: 20px; }
#iymm1 { width: 190px; float: left; background: url(../Images/c3.png) no-repeat;}
.iymm { background: url(../Images/c3.png) right center no-repeat ; float: left; width: 125px; }
.iymm p a { font-size: 12px; color: #7e7e7e; text-decoration: none; }
.iymm p { width: 55px; float: left; line-height: 30px; text-align: center; margin-left: 5px; }
.udq1 { border: none; height: 29px; width: 130px;padding: 0 10px; color: #686868; float: left;outline: none; background:transparent;}
.buttons{width:30px;height:28px;background:transparent;border:none;outline:none;cursor:pointer;border-radius: 0 5px 5px 0;-moz-border-radius:0 5px 0 5px;-webkit-border-radius: 0 5px 5px 0}
.buttons:hover{background: #8b8888;opacity: 0.5;-moz-opacity:0.5;-webkit-opacity:0.5;filter:alpha(opacity=50);}
#khuj { width: 100%; margin-bottom: 50px;}



/**
 * 李帅举
 * 2015-10-29
 * 样式修改(Article，Help和Intro下的主体头部)和新增样式（user）
 */


/*样式修改(Article，Help和Intro下的主体头部)*/
#khny_Title {
	width:95%;
    height: 50px;
    border-bottom: 1px solid #d5d5d5;
    margin: 0 auto;
}
#khny_Title h3 {
    font-size: 18px;
    color: #565555;
    font-weight: normal;
    background-image: url(../Images/m28.jpg);
    background-repeat: no-repeat;
    line-height: 50px;
    background-position: left;
    text-indent: 1em;
    float: left;
}
#khny_Title p {
    color: #acacac;
    font-size: 12px;
    line-height: 50px;
    float: right;
}

#khny_Title p a{color:#acacac}


/*新增样式（user）*/
.messageModify{width: 94%;font-size: 14px;color: #000000;margin: 0 auto;border-bottom: 1px solid #e5e5e5;min-height: 350px}
.messageModify ul li{width: 15%;line-height: 45px;float: left;text-align: center;}
.messageModify ul li.widbf25{width: 25%}
.modifyMessage{font-size: 16px;color: #7a7a7b}
.redling{font-size: 14px;color: #cb2d6a;width: 94%;position: absolute;bottom: 35px;left: 3%}
.tips{text-align: center;font-size: 36px;color: #e5e5e5;line-height: 50px;width: 1185px;margin: 0 auto;background-color: #fff;}